<h2>Game on!</h2>

<div class="scoretracker">
  <table class="scoretracker__table">
    <tr>
      <td>
        Computer
      </td>
      <td>
        {{Main.roundWinner.length-Main.countPlayerWins()}}
      </td>
    </tr>
    <tr>
      <td>
        Player
      </td>
      <td>
        {{Main.countPlayerWins()}}
      </td>
    </tr>
    <tr>
      <td>
        Rounds played
      </td>
      <td>
        {{Main.roundsPlayed}}
      </td>
    </tr>
  </table>
  <div class="scoretracker__round" ng-class="Main.roundDisplayClass(0)">
    <span/>
  </div>
  <div class="scoretracker__round" ng-class="Main.roundDisplayClass(1)">
    <span/>
  </div>
  <div class="scoretracker__round" ng-class="Main.roundDisplayClass(2)">
    <span/>
  </div>
  <button type="button" name="button" class="scoretracker__reset" ng-click="Main.resetGame()">Reset Game?</button>
</div>

<div class="roundongoing" ng-if="Main.roundOngoing">
  <p>
    What will you choose?
  </p>
  <p>
    <button class="button roundongoing__button roundongoing__button--rock" ng-click="Main.makeMove('rock')">
    </button>
    <button class="button roundongoing__button roundongoing__button--paper" ng-click="Main.makeMove('paper')">
    </button>
    <button class="button roundongoing__button roundongoing__button--scissors" ng-click="Main.makeMove('scissors')">
    </button>
    <button class="button roundongoing__button roundongoing__button--lizard" ng-click="Main.makeMove('lizard')">
    </button>
    <button class="button roundongoing__button roundongoing__button--spock" ng-click="Main.makeMove('spock')">
    </button>
  </p>
</div>

<div class="roundover" ng-if="!Main.roundOngoing">
  <div class="roundover__computerscore">
    The computer played {{Main.computerMove}}
  </div>
  <div class="roundover__playerscore">
    You played {{Main.playerMove}}
  </div>
  <div class="roundover__result">
    <p ng-if="Main.roundDraw">
      Draw round- round will be replayed
    </p>
    <p ng-if="!Main.roundDraw">
      The {{Main.roundWinner[Main.roundWinner.length-1]}} took the round!
    </p>
    <button type="roundover__continue" ng-click="Main.nextRound() ">Continue</button>
  </div>
</div>
