// Universal CSS
body{
  background: #E6E6E6;
  font-family: 'Open Sans', Helvetica, sans-serif;
}
button{
  padding: 10px;
  background: #2E57B4;
  border: none;
  cursor: pointer;
  transition: 0.2s all ease;
  &:hover{
    background: #5072C0;
  }
  &:active{
    background: #0B2F83;
  }
}
h1{
  text-align: center;
  font-family: 'Montserrat', 'Open Sans', Helvetica, sans-serif;
}
h2{
  text-align: center;
}

// Main page CSS
div.home{
  position: fixed;
  top:50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
  button.home__button{
    padding: 10px;
    font-size: 1.5em;
  }
}

// Rules CSS
div.rules{
  article.rules__article{
    padding: 2em;
    font-style: italic;
    text-align: center;
  }
}

// Game CSS
$player-color: green;
$computer-color: red;
$unplayed-color: white;
$active-color: yellow;

div.scoretracker{
  text-align: center;
  position: relative;
  table.scoretracker__table{
    position: absolute;
    right:0;
    background-color: #B8DED6
  }
  button.scoretracker__reset{
    position: fixed;
    right: 0;
    bottom: 0;
  }
  .scoretracker__round--unplayed{
    display: inline-block;
    margin: 20px 10px 10px;
    span{
      display: inline-block;
      background: $unplayed-color;
      width: 20px;
      height: 20px;
      text-align: center;
      vertical-align: middle;

      -webkit-box-shadow: 0 0 40px $unplayed-color;
         -moz-box-shadow: 0 0 40px $unplayed-color;
              box-shadow: 0 0 40px $unplayed-color;

      -webkit-border-radius: 80px;
         -moz-border-radius: 80px;
    }
  }
  .scoretracker__round--active{
    display: inline-block;
    margin: 20px 10px 10px;
    span{
      display: inline-block;
      background: $active-color;
      width: 20px;
      height: 20px;
      text-align: center;
      vertical-align: middle;

      -webkit-box-shadow: 0 0 40px $active-color;
         -moz-box-shadow: 0 0 40px $active-color;
              box-shadow: 0 0 40px $active-color;

      -webkit-border-radius: 80px;
         -moz-border-radius: 80px;
    }
  }
  .scoretracker__round--player{
    display: inline-block;
    margin: 20px 10px 10px;
    span{
      display: inline-block;
      background: $player-color;
      width: 20px;
      height: 20px;
      text-align: center;
      vertical-align: middle;

      -webkit-box-shadow: 0 0 40px $player-color;
         -moz-box-shadow: 0 0 40px $player-color;
              box-shadow: 0 0 40px $player-color;

      -webkit-border-radius: 80px;
         -moz-border-radius: 80px;
    }
  }
  .scoretracker__round--computer{
    display: inline-block;
    margin: 20px 10px 10px;
    span{
      display: inline-block;
      background: $computer-color;
      width: 20px;
      height: 20px;
      text-align: center;
      vertical-align: middle;

      -webkit-box-shadow: 0 0 40px $computer-color;
         -moz-box-shadow: 0 0 40px $computer-color;
              box-shadow: 0 0 40px $computer-color;

      -webkit-border-radius: 80px;
         -moz-border-radius: 80px;
    }
  }
}
div.roundongoing{
  p{
    text-align: center;
  }
  button.roundongoing__button{
    margin: 20px;
    background-color: transparent;
    background-size: cover;
    height: 120px;
    width: 120px;
    -webkit-border-radius: 80px;
    -moz-border-radius: 80px;
    &:hover{
      -webkit-box-shadow: 0 0 120px #132F53;
         -moz-box-shadow: 0 0 120px #132F53;
              box-shadow: 0 0 120px #132F53;
    }
  }
  button.roundongoing__button--rock{
    background-image: url("/images/rock.png");
  }
  button.roundongoing__button--paper{
    background-image: url("/images/paper.png");
  }
  button.roundongoing__button--scissors{
    background-image: url("/images/scissors.png");
  }
  button.roundongoing__button--lizard{
    background-image: url("/images/lizard.png");
  }
  button.roundongoing__button--spock{
    background-image: url("/images/spock.png");
  }
}

div.roundover{
  margin: 20px;
  text-align: center;
}

// Results CSS
div.results{
  div.results__message{
      margin: 20px;
      text-align: center;
  }
}
